html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    font-family: 'Carter One';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h5 {
    margin-bottom: 60px;
    font-family: 'Carter One';
}

body {
    margin-bottom: 60px;
    font-family: 'Alice';
    background: var(--color-1);
}

.footer-content {
    display: flex; /* Use flexbox to arrange children */
    align-items: center; /* Vertically align children to the center */
}






    /* THIS SPINNER CSS IS BY @PriyanshuGupta28 ON UIVERSE.IO */

    .spinner {
    position: absolute;
    width: 9px;
    height: 9px;
}

    .spinner div {
        position: absolute;
        width: 50%;
        height: 150%;
        background: #000000;
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        animation: spinner-fzua35 1s calc(var(--delay) * 0s) infinite ease;
    }

        .spinner div:nth-child(1) {
            --delay: 0.1;
            --rotation: 36;
            --translation: 150;
        }

        .spinner div:nth-child(2) {
            --delay: 0.2;
            --rotation: 72;
            --translation: 150;
        }

        .spinner div:nth-child(3) {
            --delay: 0.3;
            --rotation: 108;
            --translation: 150;
        }

        .spinner div:nth-child(4) {
            --delay: 0.4;
            --rotation: 144;
            --translation: 150;
        }

        .spinner div:nth-child(5) {
            --delay: 0.5;
            --rotation: 180;
            --translation: 150;
        }

        .spinner div:nth-child(6) {
            --delay: 0.6;
            --rotation: 216;
            --translation: 150;
        }

        .spinner div:nth-child(7) {
            --delay: 0.7;
            --rotation: 252;
            --translation: 150;
        }

        .spinner div:nth-child(8) {
            --delay: 0.8;
            --rotation: 288;
            --translation: 150;
        }

        .spinner div:nth-child(9) {
            --delay: 0.9;
            --rotation: 324;
            --translation: 150;
        }

        .spinner div:nth-child(10) {
            --delay: 1;
            --rotation: 360;
            --translation: 150;
        }

@keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}


button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 18px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Alice';
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-height: 34px;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

/* Hate - Orangey Red Pastel Gradient */
#btnHate {
    background-image: linear-gradient(144deg, #FF6B4F, #FF4733 50%, #FF331A);
}

/* Okay - Indian Yellow Gradient */
#btnOkay {
    background-image: linear-gradient(144deg, #E3C642, #D9B926 50%, #CCB019);
}

/* Like - Olivey Light Green Gradient */
#btnLike {
    background-image: linear-gradient(144deg, #AACD6E, #92AF55 50%, #7D9D45);
}

/* Love - Bluey Purpley Gradient */
#btnLove {
    background-image: linear-gradient(144deg, #6D8DCB, #5C76AE 50%, #4A6595);
}



    button:active,
    button:hover {
        outline: 0;
    }

    button span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }

    button:hover span {
        background: none;
    }

    button:active {
        transform: scale(0.9);
    }