<div class="d-flex flex-column align-items-center">

<div class="w-25">
    <select id="selectTopic" class="form-select" aria-label="Default select example">
        <option value="1">Cat Facts</option>
        <!-- Add other options as needed -->
    </select>
</div>



	<div class="w-25 mt-5">
		<label for="customRange1" class="form-label">How many people are voting?</label>
		<input type="range" class="form-range" min="2" max="8" id="customRange1">
		<span id="sliderValue1" class="d-flex flex-column align-items-center">2</span>
	</div>


	<div class="w-25 mt-5">
		<label for="customRange2" class="form-label">How many cat facts are we using?</label>
		<input type="range" class="form-range" min="5" max="30" id="customRange2">
		<span id="sliderValue2" class="d-flex flex-column align-items-center">5</span>
	</div>

	<div class="mt-5">
		<button type="button" class="btn btn-outline-dark" id="btnStart"><b>Get Started</b></button>
	</div>
</div>



