<div class="d-flex flex-column align-items-center">


	<h5>Results Page: Ordered by best match!</h5>
	<div class="mb-4 w-50" id="firstResultContainer">
		<h3 class ="display-4"><b>first</b></h3>
	</div>


	<div class="mb-2 w-50" id="secondResultContainer">
		<h6>second</h6>
	</div>

	<div class="mb-2 w-50" id="thirdResultContainer">
		<h6>third</h6>
	</div>

	<div class="mb-2 w-50" id="otherResultContainer">
		<h6>others</h6>
	</div>

</div>

