@{
	List<Data> remainingDataArray = ViewBag.RemainingData;
}


<div class="d-flex flex-column align-items-center">


	<h3> Results</h3>

	<div class="card m-3 shadow" style="width: 50rem;">
		<div class="card-header" style="background: white">
			<b>Best Result</b>
		</div>
		<div id="firstResultContainer" class="m-3 d-flex align-text-center justify-content-center">
			x
		</div>
	</div>

	<div class="card m-3 shadow" style="width: 45rem;">
		<div class="card-header" style="background: white">
			<b>Runner Up</b>
		</div>
		<div id="secondResultContainer" class="m-3 d-flex align-text-center justify-content-center">
			x
		</div>
	</div>


	<div class="card m-3 shadow" style="width: 40rem;">
		<div class="card-header" style="background: white">
			<b>Third</b>
		</div>
		<div id="thirdResultContainer" class="m-3 d-flex align-text-center justify-content-center">
			x
		</div>
	</div>


	<div class="card m-3 shadow" style="width: 35rem;">
		<div class="card-header" style="background: white">
			<b>Other results - in descending order of popularity</b>
		</div>
		<ul class="list-group list-group-flush">
			@foreach (var item in remainingDataArray)
			{
				<li class="list-group-item">@item.ItemData</li>
			}
		</ul>
	</div>

	<br />

	<div>
		<button id="btnReset" class="mt-5 btn btn-outline-light">Back To Start</button>
	</div>

</div>


