@model DataArrayModel

@{
	int playerNumber = 1;
	int arrayIndex = 0;
}

<div class="d-flex flex-column align-items-center">

	<div class="m-3" id="playerContainer">
		<h3>
			Player @playerNumber's Turn. Vote!
		</h3>
	</div>

	<div class="w-100 mt-3 text-center" id="catFactContainer" style="font-size: 40px; font-style: italic; font-weight: bold">
		@Model.DataArray[Model.ArrayIndex].ItemData
	</div>


	<div class="w-40 mt-5">
		<button id="btnLove" class="m-1" data-vote="love">I Love It</button>
		<button id="btnLike" class="m-1" data-vote="like">I Like It</button>
		<button id="btnOkay" class="m-1" data-vote="okay">It's Okay</button>
		<button id="btnHate" class="m-1" data-vote="hate">Pass</button>

	</div>

	<div>
		<button id="btnReset" class="mt-3 btn-outline-light" style="min-width: 200px !important; min-height: 30px !important; font-size: 16px !important;">Back To Start</button>
	</div>

</div>
